body {
    --blue: #2c599d;
    --blue-2: #a7c3ff;
    --white: #FFFFFF;
    color: var(--white);
    background-color: var(--blue);
    overflow-x: hidden;
}

#main {
    padding: 15px;
}

#nav-bar {
    padding: 15px 10px;
    top: 0;
    z-index: 3;
}

.black {
    color: black !important;
}

#username {
    border-bottom: 3px solid white;
}

.mui-panel {
    background-color: var(--blue-2);
}

.text {
    font-size: 24px;
}

.tile.is-4 {
    padding: 10px;
    border-radius: 8px;
    background-clip: padding-box;
    background: rgba(105, 104, 119, 0.34);
}

.space {
    padding: 10px;
}

.image {
    margin: auto;
}

img:hover {
    opacity: 0.7;
}

.thumbnail-text {
    font-size: 60px;
    font-family: Dosis, sans-serif;
    border-bottom: 3px solid white;
}

.description {
    font-style: italic;
    font-family: 'Comic Neue', Helvectica, sans-serif;
    border-top: 3px solid white;
    padding-top: 20px;
}

.asker {
    font-style: italic;
    font-weight: normal;
    line-height: 2;
    font-size: 21px;
}

.answer {
    font-size: 25px;
    font-weight: normal;
    line-height: 2;
}

.deep-blue {
    background-color: #85abfd;
}

.question {
  width: 250px !important;
  max-width: 75%;
  overflow-y: auto;
  height: 450px !important;
  display: inline-grid !important;
  margin: 10px !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.question::-webkit-scrollbar {
    display: none;
}


details > summary {
    list-style: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    position: relative;
    top: 10px;
    outline: 0;
    text-align: initial;
    padding: .3em;
}

details {
  text-align: center;
  padding: unset !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  display: block !important;
}

details > summary::-webkit-details-marker {
    display: none;
}

.blue {
    background-color: #7ea7ff75 !important;
}

.project-title {
    width: 255px;
    max-width: 75%;
    height: 390px;
    display: inline-grid;
    margin: 10px;
    color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.project-title > .thumbnail {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    height: auto;
    width: 90% !important;
}

.project-text {
    position: absolute;
    top: 65%;
    margin: auto;
    left: 0;
    right: 0;
}

.stats {
    top: 90%;
    text-align: right !important;
    margin: auto;
    left: 0;
    right: 10px;
}

.title {
    color: white;
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 35px !important;
    }
    
    .question {
      display: block;
      width: initial;
      margin: 0;
    }

    .box > .title {
        font-size: 25px !important;
    }

    .text {
        font-size: 21px !important;
    }

    .thumbnail-text {
        font-size: 35px !important;
    }

    .blue > .title {
        font-size: 25px !important;
    }

    .asker {
        font-size: 18px !important;
    }

    .project-title {
        max-height: 290px;
    }

    .project-text {
        font-size: 17px !important;
        top: 70%;
    }

    .stats {
        top: 92%;
        font-size: 12px !important;
    }
}
