body {
    --blue: #2c599d;
    --blue-2: #a7c3ff;
    --white: #FFFFFF;
    color: var(--white);
    background-color: var(--blue);
}

#main {
    padding: 15px;
}

#nav-bar {
    padding: 15px 10px;
}

#username {
    border-bottom: 3px solid white;
}

.mui-panel {
    background-color: var(--blue-2);
}

.text {
    font-size: 24px;
}

.tile {
    padding: 10px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: var(--blue);
}