body {
    --blue: #2c599d;
    --blue-2: #a7c3ff;
    --white: #FFFFFF;
    color: var(--white);
    background-color: var(--blue);
}

#main {
    padding: 15px;
}

#nav-bar {
    padding: 15px 10px;
}

#username {
    border-bottom: 3px solid white;
}

.mui-panel {
    background-color: var(--blue-2);
}

.text {
    font-size: 24px;
}

.tile.is-4 {
    padding: 10px;
    border-radius: 8px;
    background-clip: padding-box;
    background: rgba(105, 104, 119, 0.34);
}

.space {
    padding: 10px;
}

.image {
    margin: auto;
}

.thumbnail-text {
    position: relative;
    top: 25px;
    font-size: 60px;
    font-family: Dosis, sans-serif;
    border-bottom: 3px solid white;
}

.description {
    position: relative;
    bottom: 20px;
    font-style: italic;
    font-family: 'Comic Neue', Helvectica, sans-serif;
    border-top: 3px solid white;
}